<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bmc208">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BMC208">
        <activity
            android:name=".signup_healthcare"
            android:exported="true" />
        <activity
            android:name=".signin"
            android:exported="true" />
        <activity
            android:name=".signup_patient"
            android:exported="true" />
        <activity
            android:name=".PatientStatus"
            android:exported="true" />
        <activity
            android:name=".StaffViewVaccine"
            android:exported="true" />
        <activity
            android:name=".PatientViewBatch"
            android:exported="true" />
        <activity
            android:name=".PatientViewCenter"
            android:exported="true" />
        <activity
            android:name=".PatientViewVaccine"
            android:exported="true" />
        <activity
            android:name=".administrator_batch"
            android:exported="true" />
        <activity
            android:name=".VaccineID"
            android:exported="true" />
        <activity
            android:name=".AddBatchActivity"
            android:exported="true" />
        <activity
            android:name=".signup"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>